<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.wedding">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.gemptc.wd.application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name="com.gemptc.wd.activities.HomeFindMerchantActivity"
            android:theme="@style/StyledIndicators" />
        <activity android:name="com.gemptc.wd.activities.HomeWeddingTaskActivity" />
        <activity android:name="com.gemptc.wd.activities.HomeWeixinCadActivity" />
        <activity android:name="com.gemptc.wd.activities.SocialHuiyiluActivity" />
        <activity android:name="com.gemptc.wd.activities.SocialJinxingceActivity" />
        <activity android:name="com.gemptc.wd.activities.SocialShenghuojiActivity" />
        <activity android:name="com.gemptc.wd.activities.SocialFannaojiActivity" />
        <activity android:name="com.gemptc.wd.activities.SelectWeddingTaskActivity" />
        <activity android:name="com.gemptc.wd.activities.EditTaskActivity" />
        <activity android:name="com.gemptc.wd.activities.KindRentCarActivity" />
        <activity android:name="com.gemptc.wd.activities.KindTravelActivity" />
        <activity android:name="com.gemptc.wd.activities.KindClothesActivity" />
        <activity android:name="com.gemptc.wd.activities.KindRingActivity" />
        <activity android:name="com.gemptc.wd.activities.KindShootActivity" />
        <activity android:name="com.gemptc.wd.activities.KindHotelActivity" />
        <activity android:name="com.gemptc.wd.activities.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.gemptc.wd.activities.LoginAndRegisterActivity" />
        <activity android:name="com.gemptc.wd.activities.LoginActivity"></activity>
    </application>

</manifest>